/* Сброс отступов и высоты для всего документа */
html, body {
    height: 100%;
    margin: 0;
}
/* Центрирование header и увеличение размера */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 46px); /* Уменьшаем ширину на 46px, чтобы учесть padding и не выходить за рамки экрана */
    height: 75px;
    background: #8CDDFF;
    border-radius: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    position: fixed;
    top: 23px;
    left: 50%;
    transform: translateX(-50%); /* Центрирование относительно всей страницы */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nav li {
    margin: 0 10px;
}

.nav a {
    text-decoration: none;
    font-family: 'Inter';
    font-size: 16px;
    color: #000000;
}

#btnlk {
    padding: 9px 20px;
    background: #D9D9D9;
    border-radius: 20px;
    font-family: 'Inter';
    font-size: 16px;
    color: #000000;
    border: none;
    cursor: pointer;
}

  /* Section 1 под header */
  .sctmain, #sctval, #sctnew {
    box-sizing: border-box;
    position: relative;
    width: calc(100% - 94px); /* Вычитаем отступы слева и справа */
    margin-left: 47px; /* Отступ слева */
    margin-right: 47px; /* Отступ справа */
    background: #FFFFFF;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-top: 98px; /* Для первой секции под header */
  }

  /* Адаптация первого элемента секции под отступ header */
  .sctmain {
    height: 670px;
    margin-top: 150px; /* Высота header плюс его верхний отступ */
  }

  /* Отступы между секциями */
  #sctval {
    height: 285px;
    margin-top: 28px;
  }

  #sctnew {
    height: 285px;
    margin-top: 60px;
  }
