{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'HW/css/HWPage.css' %}">
    <script src="https://kit.fontawesome.com/2a885f5773.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-content">
            <nav>
                <a href="/api/v1/main/">Главная</a>
                <a href="#">Класс</a>
                <a href="/api/v1/HWPage/">ДЗ</a>
                <a href="/api/v1/Diary/">Дневник</a>
                <div class="animation start-home"></div>
              </nav>
            <button id="btnlk">Личный кабинет</button>
        </div>
    </header>


    <main>
        <div class="homework">
            <h1>Домашнее задание</h1>
            <div id="list-homework">

            </div>
            <div id="nav">
                <button class="back"><i class="fa-solid fa-circle-left fa-4x text-shadow"></i></button>
                <button class="next"><i class="fa-solid fa-circle-right fa-4x text-shadow"></i></button>
            </div>
        </div>
    </main>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Введите ваш ответ:</p>
            <input type="text" id="userInput">
            <button id="submitBtn">Отправить</button>
        </div>
    </div>

    <footer>
        <div class="footer-content">
                <nav class="navf">
                    <ul>
                            <li><a href="#">Главная</a></li>
                            <li><a href="#">Класс</a></li>
                            <li><a href="#">Домашнее задание</a></li>
                            <li><a href="#">Дневник</a></li>
                        </ul>
                    </nav>
            <hr class="hr-shelf">
        </div>
    </footer>
<script src="{% static 'HW/js/modalwin.js' %}"></script>
<script src="{% static 'HW/js/hwpageload.js' %}"></script>
</body>
</html>




